
.navbar {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: center;  
  }
  
  .navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 10px;  
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    
  }
  
  .navbar-item:hover {
    background-color: #555;
    transition: background-color 0.3s;
  }
  
  .navbar-item:active {
    background-color: #444;
  }
  